@use "sass:color";
@import "base";
@import "variables";
@import "mixins";

body {
  margin: 0;
  padding: 0;
  background-color: $dark-background;
  color: $dark-text-color;
  // https://github.com/system-fonts/modern-font-stacks#geometric-humanist
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  line-height: 1.5;
  font-size: 1.5em;
}

main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:visited {
    color: $secondary-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px color.adjust($primary-color, $lightness: -20%);
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: color.adjust($primary-color, $lightness: 10%);
  }
}
